PROJECT

In [1]:
import mysql.connector 
conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost')

In [2]:
conn.is_connected()

True

In [3]:
qur1="CREATE DATABASE data11"
mycur=conn.cursor()
mycur.execute(qur1)
mycur.close()
conn.close()

DatabaseError: 1007 (HY000): Can't create database 'data11'; database exists

In [4]:
import mysql.connector
conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost',database='data11')
cursor=conn.cursor()
qur1='CREATE TABLE Project11(name VARCHAR(20),mobno VARCHAR(20),dept VARCHAR(20),emailid VARCHAR(20))'
cursor.execute(qur1)
conn.close()

In [2]:
import mysql.connector
from tkinter import*
from tkinter import messagebox
from tkinter import ttk
win=Tk()
win.title('STUDENT MANAGEMENT SYSTEM')
#win.iconbitmap('unnamed.ico')
win.minsize(width=800,height=600)
win.configure(bg='skyblue')


def show():
    conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost',database='data11')
    cursor=conn.cursor()
    cursor.execute("select * from Project11")
    result=cursor.fetchall()
    for i in result:
        treev.insert("",'end',values=(i[0],i[1],i[2],i[3]))

    pass

def add():
    global n1
    global m1
    global d1
    global e1
    name=n1.get()
    mobno=m1.get()
    dept=d1.get()
    emailid=e1.get()
    if(name=="" or mobno=="" or dept=="" or emailid==""):
        messagebox.showinfo('stu info','all fields are required to fill')
    else:
        conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost',database='data11')
        qur1="INSERT INTO Project11(name,mobno,dept,emailid) VALUES('%s','%s','%s','%s')"%(name,mobno,dept,emailid)
        mycur=conn.cursor()
        mycur.execute(qur1)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('stu info','info submitted')
        n1.set('')
        m1.set('')
        d1.set('')
        e1.set('')

def Select():
    global up
    upd=up.get()
    if upd=='':
        messagebox.showinfo('stu info','all fields are required to fill')
        
    else:
        conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost',database='data11')
        qur1="SELECT * FROM  Project11 WHERE name='%s'"%(upd)
        mycur=conn.cursor()
        mycur.execute(qur1)
        result=mycur.fetchall()
        for i in result:
            ent1.insert(0,i[0])
            ent2.insert(0,i[1])
            ent3.insert(0,i[2])
            ent4.insert(0,i[3])
        up.set('')

    

def delete():
    global tt
    rs=tt.get()
    if rs=='':
        messagebox.showinfo('stu info','all fields are required to fill')
        
    else:
        conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost',database='data11')
        qur1="DELETE FROM  Project11 WHERE name='%s'"%(rs)
        mycur=conn.cursor()
        mycur.execute(qur1)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('stu info','Record deleted')
        tt.set('')

def Update():
    global n1
    global m1
    global d1
    global e1
    name=n1.get()
    mobno=m1.get()
    dept=d1.get()
    emailid=e1.get()
    
    if (name=='' or mobno=='' or dept=='' or emailid==''):
        messagebox.showinfo('student info','all fields are required to fill')
        
    else:
        conn=mysql.connector.connect(user='root',password='Ganesh',host='localhost',database='data11')
        qur1="UPDATE Project11 SET mobno='%s',dept='%s',emailid='%s' where name='%s'"%(mobno,dept,emailid,name)
        mycur=conn.cursor()
        mycur.execute(qur1)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('student info','Info Updated')
        up.set('')


def result():
    root=Tk()
    root.configure(bg='white')
    root.title('Result')
    root.geometry('500x400')
    def disp():
        pass
    resl=Label(root,text='Enter the name of student',height=2,bd=5,fg='black',bg='white',font=("cooper  8 bold"))
    resl.place(x=10,y=40)
    
    rc=StringVar()
    relent=Label(root,height=2,bd=5,fg='black',bg='white',textvariable=rc,font=("cooper  8 bold"))
    relent.place(x=200,y=40)
    relbtn=Button(win,text='Select',width=20,command=Select)
    relbtn.place(x=200,y=40)
    
    
    
def clear():
    treev.delete(*treev.get_children())

n1=StringVar()
m1=StringVar()
d1=StringVar()
e1=StringVar()
lb1=Label(win,text='STUDENT MANAGEMENT SYSTEM',relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',16,'bold'))
lb1.place(x=260,y=40)

lb2=Label(win,text='NAME',width=20,relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',12,'bold'))
lb2.place(x=190,y=100)
ent1=Entry(win,bd=5,fg='black',width=40,bg='white',textvariable=n1,font=('times new roman',12,'bold'))
ent1.place(x=390,y=100)

lb3=Label(win,text='Mobile Number',width=20,relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',12,'bold'))
lb3.place(x=190,y=140)
ent2=Entry(win,bd=5,fg='black',width=40,bg='white',textvariable=m1,font=('times new roman',12,'bold'))
ent2.place(x=390,y=140)

lb4=Label(win,text='Department',width=20,relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',12,'bold'))
lb4.place(x=190,y=180)
ent3=Entry(win,bd=5,fg='black',width=40,bg='white',textvariable=d1,font=('times new roman',12,'bold'))
ent3.place(x=390,y=180)

lb5=Label(win,text='Email ID',width=20,relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',12,'bold'))
lb5.place(x=190,y=220)
ent4=Entry(win,bd=5,fg='black',width=40,bg='white',textvariable=e1,font=('times new roman',12,'bold'))
ent4.place(x=390,y=220)

shwbtn1=Button(win,text='SHOW',width=20,command=show)
shwbtn1.place(x=200,y=320)

addbtn1=Button(win,text='ADD',width=20,command=add)
addbtn1.place(x=500,y=320)

exbtn1=Button(win,text='EXIT',width=20,command=win.destroy)
exbtn1.place(x=200,y=360)

restn1=Button(win,text='RESULT',width=20,command=result)
restn1.place(x=500,y=360)

treev = ttk.Treeview(win, selectmode='browse',height=20)
treev.place(x=900,y=100,width=450)

verscrlbar=ttk.Scrollbar(win,orient ='vertical',command=treev.yview)
verscrlbar.pack(side ='right',fill ='x')
treev.configure(xscrollcommand=verscrlbar.set)

treev["columns"] = ("1","2","3","4")
treev['show'] = 'headings'

treev.column("1",width =90, anchor='c')
treev.column("2",width =90, anchor='se')
treev.column("3",width =90, anchor='se')
treev.column("4",width =90, anchor='se')

treev.heading("1",text='Name')
treev.heading("2",text='Mobile No')
treev.heading("3",text='Department')
treev.heading("4",text='Email ID')

clearbtn=Button(win,text='CLEAR',width=20,command=clear).place(x=1050,y=560)

lb6=Label(win,text='Delete my name>>',width=20,relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',12,'bold'))
lb6.place(x=190,y=400)

tt=StringVar()
ent5=Entry(win,bd=5,fg='black',width=40,bg='white',textvariable=tt,font=('times new roman',12,'bold'))
ent5.place(x=385,y=400)


delbtn=Button(win,text='Delete',width=20,command=delete)
delbtn.place(x=560,y=440)


lb7=Label(win,text='Update by name>>',width=20,relief='ridge',bd=5,fg='black',bg='white',font=('times new roman',12,'bold'))
lb7.place(x=190,y=530)

up=StringVar()
ent6=Entry(win,bd=5,fg='black',width=40,bg='white',textvariable=up,font=('times new roman',12,'bold'))
ent6.place(x=385,y=530)


uptn=Button(win,text='Update',width=20,command=Update)
uptn.place(x=560,y=580)
slbtn=Button(win,text='Select',width=20,command=Select)
slbtn.place(x=400,y=580)



win.mainloop()